[user]
	name = Maxime AILLOUD
	email = maxime.ailloud@gmail.com
[core]
        excludesfile = /Users/max/.gitignore_global
[alias]
	st = status
	dif = diff --word-diff=color
	co = checkout
	cob = checkout -b
	cm = commit -m
	rmall = "!sh -c 'git rm $(git ls-files --deleted)'"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend
        updatefork = pull upstream master
        cp = cherry-pick
	updatestage = !git checkout stage && git pull && git merge develop && git push && git co -
	us = !git updatestage
	updatemaster = !git checkout master && git pull && git merge stage && git push && git co -
	um = !git updatemaster
	feature = "!f() { git checkout -b feature/CTS-$1; }; f"
	finish = !git checkout develop && git pull && git merge -
	poush = push
[push]
        default = upstream
[pull]
	rebase = preserve
[color]
	status = auto
	branch = auto
	diff   = auto
	ui     = true
[core]
	editor = vi
	filemode = false
	autocrlf = input
[status]
        showUntrackedFiles = all
[branch]
        autosetuprebase = always
[fetch]
	prune = true
