[user]
	name = Maxime AILLOUD
	email = maxime.ailloud@gmail.com
[core]
        excludesfile = /home/maxime/.gitignore_global
[alias]
	st = status
	dif = diff --word-diff=color
	co = checkout
	cm = commit -m
	rmall = "!sh -c 'git rm $(git ls-files --deleted)'"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend
        updatefork = pull upstream master
[push]
        default = upstream
[pull]
	rebase = preserve
[color]
	status = auto
	branch = auto
	diff   = auto
	ui     = true
[core]
	editor = vi
	filemode = false
[status]
        showUntrackedFiles = all
[branch]
        autosetuprebase = always
